.icon-feature {
    font-size: 4rem;
    transition: all 1.4s;
    margin: auto !important;
    width: 80px;
  }
  .icon-feature:hover{
    transform: rotate(360deg);
  }

  .titulo{
    transform: translateX(-150px);
    transition: transform 2s;
  }
  /* Abajo del index hay un pequeño script que cambia translateX de titulo a 0px para que se mueva al ejecutar la pagina. */

  .app-badge {
    height: 3rem;
    transition: transform 1s;
  }
  .app-badge:hover{
    transform: scale(1.2);
  }

  .miBoton{
      transition: all 1.2s;
  }

  .miBoton:hover{
      color: aqua !important;
      background-color:#1C2833!important;
      border-color: aqua!important;
      transform: scale(1.1);
  }
  .miAudio{
      margin-top: 3%;
  }

  .circulo1{
    transition: all 1.2s;
  }
  .circulo1:hover{
    transform: scale(1.2) rotate(1turn);
  }
  .nav-link{
      transition: 1s;
  }

  .nav-link:hover{
    color: #6610f2!important;
    transform: scale(1.3);
}

.botonMenu{
    background-color: #6610f2 !important;
    transition: 1s;
}

.botonMenu:hover{
    transform: scale(1.2);

}

.textTest{
    transition:all 1.2s;
}
.textTest:hover{
    transform: translateY(-20px);
}

@keyframes haciaArriba{
    from{transform: translateY(0px);}

    to{transform: translateY(-400px);}
}

@keyframes haciaAbajo{
    from{transform: translateY(0px);}

    to{transform: translateY(+400px);}

}
.cuadradito{
    animation-name: haciaArriba;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circulito{
    animation-name: haciaAbajo;
    animation-duration: 6s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}/* En movil no se puede ver el uso del keyframe porque el css de la pagina hace desaparecer los dos iconitos. */

